# App
PORT=3000

# Redis
REDIS_URL=redis://localhost:6379

# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/smart_facility
DIRECT_URL=postgresql://<db-user>:<db-password>@<db-host>:5432/<db-name>

# Security
API_KEY=your_api_key_here

# Optional
WEBHOOK_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
